{% extends 'base.html' %}

{% block content %}
<div class="container py-4 text-left">
    <h1>{% block title %} About {% endblock %}</h1>
        <p>{% block body %} This is the best App to keep track of your activities, which gonna be 0 anyway
            <br> Still I am gonna explain you the functionality
            <br> This App includes 3 Pages:
            <br>
            <br> <h2> The Main Page:</h2>
                gives you the option to add new tasks inclundig selecting a category for better organization. 
                    The options include: 'programming', 'art', 'sport'. In your case, it doesn't suit anyway cause being a piece of shit is not part of it. 
                    Hence, this app is not useful for you anyway
            <br>
            <br> <h2> Statistics:</h2>
                Here you can see an overview of you past activities, i.e. how long it tokk you to accomplish a task. 
                    Again, for you there is nothing to see. Since the esaiest tasks gives you axiety, it will take ages to complete.
                    Instead you will be doing nothing but useless stuff. 
            <br>
            <br> <h2> Procastination:</h2>
                Speaking of useless stuff, here is the place for you to stay. Just continue with distraction on this page by drawing
                stupid shit and playing unsophisticated games to maintain procastination.
            
            
            
            {% endblock %}</p>
</div>
{% endblock %}
