{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
        <p>{% block body %} This is the best App to keep track of your activities, which gonna be 0 anyway
            <br> Still I am gonna explain you the functionality
            <br> This App includes 4 Pages:
            <br>
            <br> <h2> The Main Page:</h2>
                gives you the option to add new tasks inclundig selecting a category for better organization. 
                    The options are: 'programming','art','sport'. In your case doesn't suit anyway cause being a piece of shit is not part of it. 
                    Hence I this app is not useful for you anyway
            <br>
            <br> <h2> Statistics:</h2>
                Here you cas see an overview of you past activities, i.e. how long it takes for you to accomplish a task. 
                    Again, for you there is nothing to see. Since the esaiest tasks gives you axiety, it will take ages to complete.
                    Instead you will be doing nothing but useless stuff. Speaking of Procatsination, not only to demotivate you, 
                    there is a procastination functionality including games and other stuff to get distracted.
            
            
            
            
            {% endblock %}</p>
{% endblock %}
